@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
 
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px; 
  
}


.filter-container {
    background-color: #fff;
    padding: 30px 40px;
    box-shadow: 4px 4px 10px rgba(0.05, 0.05, 0.05, 0.05);
    margin: 20px 40px;
    border-radius: 16px;
    
   
  }
  
  .filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .filter-item {
    display: flex;
    align-items: center;
    background: #f1f3f6;
    padding: 10px 20px;
    border-radius: 12px;
    flex: 1;
    min-width: 200px;
  }
  
  .filter-item input,
  .filter-item select {
    border: none;
    background: transparent;
    outline: none;
    margin-left: 10px;
    width: 100%;
    
  }
  
  .filter-icon {
    color: #888;
    
  }
  
  .salary-range {
    flex-direction: column;
    align-items: flex-start;
    background: none;
  }
  
  .salary-range label {
    
    margin-bottom: 8px;
    font-weight: 600;
  }
  
  .salary-range input[type="range"] {
    width: 100%;
    color: black;
  }
  
  .salary-labels {
    
    color: black;
    margin-top: 8px;
  }

  .salary-lable{
    display: flex;
    gap: 20px;
  }
  

  @media (max-width: 768px) {
    .filter-container {
      margin: 20px;
      padding: 20px;
    }
  
    .filter-section {
      flex-direction: column;
      width: auto;
      align-items: stretch; /* stretch filters full width */
    }
  
    .filter-item {
      width: auto;
      flex: none;
    }
  
    .salary-lable {
      flex-direction: column;
      gap: 10px;
    }
  }