@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  
}

.job-card {
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 25%;
  height: 400px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.job-info p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  font-size: medium;
}

.job-location-icon{
  height: 20px;
  width: 20px;
  color: black;
}

.salary-icon{
  height: 20px;
  width: 20px;
  color: black;
}

.job-card:hover {
  transform: translateY(-5px);
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-logo {
  width: 50px;
  height: 50px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  color: #555;
}

.company-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.posted-time {
  background-color: #e7f1ff;
  color: #0056d2;
  padding: 5px 10px;
  border-radius: 8px;
  
}

.job-title {
  margin: 16px 0 8px 0;
  font-size: 22px;
  font-weight: 600;
}

.job-info {
  margin-bottom: 12px;
  color: #555;
}

.location {
  margin-top: 6px;
  color: #0077cc;
}

.description-list {
  padding-left: 20px;
  margin-bottom: 20px;
  color: #666;
  flex-grow: 1; 
  overflow-y: auto; 
  max-height: 150px; 
 
}

.apply-btn {
  background: #0a84ff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.apply-btn:hover {
  background: #0066cc;
}

/* For tablets and smaller devices */
@media (max-width: 1024px) {
  .job-card {
    width: 40%;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .job-card {
    width: 80%;
    margin: 20px auto;
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .job-title {
    font-size: 20px;
  }

  .location, .job-info, .posted-time {
    font-size: 14px;
  }

  .apply-btn {
    font-size: 16px;
    padding: 10px;
  }
}